<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inquisitive</title>
    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
      }

      .card {
        background-color: #fff;
        width: 100%;
        max-width: 600px;
        margin: 20px 0;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }

      .card h2 {
        margin-top: 0;
      }

      .card p {
        margin: 10px 0 0;
      }
    </style>
    <link rel="stylesheet" href="/navbar.css" />
  </head>
  <body>
    <%-include("./components/navbar.ejs")%>
    <div class="container">
      <% data.forEach((item)=>{ %>
      <div class="card" onclick="window.location.href='/question/<%-item.id%>'">
        <h2><%-item.title %></h2>
        <p>Author Name:<i><%-item.userInfo.userName %></i></p>
      </div>
      <% })%>
    </div>
  </body>
</html>
